<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ExtentReportTestNGListener">
  <test thread-count="5" name="ExtentReportTestNGListenerExample">
    <classes>
      <class name="ExtentReportTestNGListenerDemo.ExtentReportTestNGListenerExample"/>
    </classes>
  </test> <!-- ExtentReportTestNGListenerExample -->
</suite> <!-- ExtentReportTestNGListener -->
